---
Title: "ValidationResult"
Type: api
Created: "2026-10-06 12:26:02"
Params:
  type: "ValidationResult"
  namespace: "TestProject.Services"
  symbol: "record"
  source: "IDataService.cs"
  external_link: ""
---

- **Namespace:** [TestProject.Services](/api/7.2.0/testproject.services)
- **Source File:** IDataService.cs

Represents the result of a data validation operation.

